<div class="register">
  <form [formGroup]="registrationForm">
    <div class="mb-3">
      <label for="userName" class="form-label">Username</label>
      <input type="text"  [class.is-invalid]="userName?.invalid && userName?.touched" [class.is-valid]="userName?.valid && userName?.touched" formControlName="userName" pattern="^[A-Za-z]{3,20}$"   name="name"  class="form-control" required  id="userName">
      <div *ngIf="userName?.invalid && userName?.touched">
        <small class="text-danger" *ngIf="userName?.errors?.['required']">Name is Required</small>
        <small class="text-danger" *ngIf="userName?.errors?.['forbiddenName']" >{{userName?.errors?.['forbiddenName'].value}} is not Allowed</small>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email"[class.is-invalid]="userEmail?.invalid && userEmail?.touched"  [class.is-valid]="userEmail?.valid && userEmail?.touched"  formControlName="userEmail" class="form-control" id="exampleInputEmail1" name="email"   aria-describedby="emailHelp" 
       name="txtEmail" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
       <div *ngIf="userEmail?.invalid && userEmail?.touched">
        <small class="text-danger" *ngIf="userEmail?.errors?.['required']">Email is Required</small>
        <small class="text-danger" *ngIf="userEmail?.errors?.['email']">Wrong Email Format</small>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1"  class="form-label" >Password</label>
      <input type="password" [class.is-invalid]="userPassword?.invalid && userPassword?.touched" [class.is-valid]="userPassword?.invalid && userPassword?.touched" formControlName="userPassword" required  class="form-control" name="password"     id="exampleInputPassword1">
      <div  *ngIf="userPassword?.invalid && userPassword?.touched">
        <small class="text-danger" *ngIf="userPassword?.errors?.['required']">Please Enter Password</small>
        <small class="text-danger" *ngIf="userPassword?.errors?.['minlength']">Min length is 8</small>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1"  class="form-label" >Confirm Password</label>
      <input type="password" formControlName="confirmPassword" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" class="form-control" name="confirmPassword"   id="exampleInputPassword1">
      <small *ngIf="registrationForm?.errors?.['misMatch']" class="text-danger">Passwords Doesn't Match</small>
    </div>

    <div class="mb-3">
      <label>Product Discount</label>
      <input  type="text" formControlName="number" class="form-control" [class.invalid]="productPrice?.invalid && productPrice?.touched">
     </div>
       <small class="text-danger" *ngIf="productPrice?.errors?.['required']">Please Enter A Price</small>
      <div class="form-check">
        <input class="form-check-input" (click)="setPriceValidation()" formControlName="subscribe" type="checkbox" value="" id="flexCheckChecked">
        <label class="form-check-label" for="flexCheckChecked">Add Discount</label>
          
      </div>
    <div class="mb-3">
      <select class="custom-select" formControlName="selectSocial"  name="ddlTopics">
          <option selected>
              Product You Want
          </option>
          <option *ngFor="let product of products">
              {{product}}
          </option>
      </select>
  </div>
   <div formArrayName="alternativeEmails" *ngFor="let comment of Usercomments?.controls; let i=index">
    <label>{{"User Comment"}} {{i+1}}</label>
    <input type="text" [formControlName]="i" class="form-control">
   </div>
   <button class="btn btn-success" (click)="addUserComment()">Add Comment</button><br>
  <br>
    <button type="submit"  [disabled]="registrationForm.invalid" class="btn btn-primary">Submit</button>
  </form>
</div>



