<div class="productList">
  <div class="card" style="width: 18rem;">
    <img [src]="storeLogo" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{storeName}}</h5>
      <p class="card-text">We We offer an explicit discount of {{discount}}</p>
      <a href="#" class="btn btn-primary">Buy</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img [src]="storeLogo" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{storeName}}</h5>
      <p class="card-text">We We offer an explicit discount of {{discount}}</p>
      <a href="#" class="btn btn-primary">Buy</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img [src]="storeLogo" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{storeName}}</h5>
      <p class="card-text">We We offer an explicit discount of {{discount}}</p>
      <a href="#" class="btn btn-primary">Buy</a>
    </div>
  </div>
</div>


